#btn
{
    width: 30%;
    background: #09801d;
    color: #0df3eb;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(12, 134, 24);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background-image: linear-gradient( to right top, #10849e, #3b90bd, #61d3ef, #0df3eb, #71e3aa);
}
